<mat-nav-list>
  <a mat-list-item (click)="doSearch('Climate')"><mat-icon>search</mat-icon>Climate</a>
  <a mat-list-item (click)="doSearch('Deal')"><mat-icon>search</mat-icon>Deal</a>
  <a mat-list-item (click)="doSearch('Paris')"><mat-icon>search</mat-icon>Paris</a>
  <a mat-list-item (click)="doSearch('Pollution')"><mat-icon>search</mat-icon>Pollution</a>
  <a mat-list-item (click)="doSearch('World')"><mat-icon>search</mat-icon>World</a>
  <a mat-list-item (click)="doSearch('Climate')"><mat-icon>search</mat-icon>Climate</a>
  <a mat-list-item (click)="doSearch('Deal')"><mat-icon>search</mat-icon>Deal</a>
  <a mat-list-item (click)="doSearch('Paris')"><mat-icon>search</mat-icon>Paris</a>
  <a mat-list-item (click)="doSearch('Pollution')"><mat-icon>search</mat-icon>Pollution</a>
  <a mat-list-item (click)="doSearch('World')"><mat-icon>search</mat-icon>World</a>
  <a mat-list-item (click)="doSearch('Climate')"><mat-icon>search</mat-icon>Climate</a>
  <a mat-list-item (click)="doSearch('Deal')"><mat-icon>search</mat-icon>Deal</a>
  <a mat-list-item (click)="doSearch('Paris')"><mat-icon>search</mat-icon>Paris</a>
  <a mat-list-item (click)="doSearch('Pollution')"><mat-icon>search</mat-icon>Pollution</a>
  <a mat-list-item (click)="doSearch('World')"><mat-icon>search</mat-icon>World</a>
</mat-nav-list>
