<form #form fxLayout="column">
  <mat-form-field fxFlex>
    <mat-chip-list #chipList>
      <mat-chip
        *ngFor="let word of words"
        [selectable]="true"
        [removable]="true"
        (removed)="remove(word)">
        {{word}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="New search term..."
        #wordInput
        [formControl]="searchControl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="true"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-hint>Suggestions sorted by occurences</mat-hint>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option
        *ngFor="let option of filteredTags | async | keyvalue:tagComparator"
        [value]="option.key">
        <div fxLayout="row">
          <span fxFlex>{{ option.key }}</span>
          <span fxLayoutAlign="flex-end center">
            <span class="app-inline-badge">
              {{ option.value }}
            </span>
          </span>
        </div>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-radio-group
    style="margin-top: 16px"
    fxLayout="column"
    fxLayoutGap="8px"
    [formControl]="searchModeControl">
    <mat-radio-button value="or" [checked]="true">Match any word</mat-radio-button>
    <mat-radio-button value="and">Match all words</mat-radio-button>
  </mat-radio-group>

  <mat-form-field fxFlex style="margin-top: 16px">
    <input
      #name
      matInput
      [formControl]="nameControl"
      placeholder="Name the search to save..."
      required>
  </mat-form-field>

  <div fxLayout="row" fxLayoutAlign="end">
    <!--TODO: disable on invalid form-->
    <button
      mat-raised-button
      color="primary">Save</button>
  </div>
</form>
