<button
  [color]="!(current$ | async) ? 'accent' : ''"
  mat-button
  (click)="selectNone()"
  matTooltip="Disable advanced search"
  matTooltipPosition="right">
    <span style="width: 100%" fxLayout="row">
      <span fxFlex fxLayoutAlign="flex-start center">None</span>
      <span fxFlex fxLayoutAlign="flex-end center">
      </span>
    </span>
</button>
<button
  [color]="search.active ? 'accent' : ''"
  mat-button
  *ngFor="let search of (saved$ | async)"
  (click)="selectSearch(search.name)"
  matTooltip="{{ search.mode === 'or' ? OR_LABEL : AND_LABEL }}: {{ search.words.join(', ') }}"
  matTooltipPosition="right">
    <span style="width: 100%" fxLayout="row">
      <span fxFlex fxLayoutAlign="flex-start center">{{ search.name }}</span>
      <span fxFlex fxLayoutAlign="flex-end center">
        <span class="app-inline-badge">
          {{ search.hits.length || '0' }}
        </span>
      </span>
    </span>
</button>

<p *ngIf="(saved$ | async).length < 1">
  No advanced searches created yet.<br>
  Add some in the section:<br>
  <mat-icon [inline]="true">edit</mat-icon> Add/Edit advanced searches".
</p>
