<div>
  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>rss_feed</mat-icon>Feed
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-feeds-selector></app-feeds-selector>
  </mat-expansion-panel>

  <mat-divider></mat-divider>

  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>search</mat-icon>Quicksearch
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-search></app-search>
  </mat-expansion-panel>

  <mat-divider></mat-divider>

  <mat-expansion-panel class="mat-elevation-z0" expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>zoom_in</mat-icon>Advanced searches
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-search-advanced-display></app-search-advanced-display>
  </mat-expansion-panel>

  <mat-divider></mat-divider>

  <mat-expansion-panel class="mat-elevation-z0" expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>edit</mat-icon>Add/Edit advanced search
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-search-advanced-edit></app-search-advanced-edit>
  </mat-expansion-panel>

  <mat-divider></mat-divider>

  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>settings</mat-icon>Settings
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-settings></app-settings>
  </mat-expansion-panel>

  <mat-divider></mat-divider>
</div>
