<div fxLayout="column">
  <form [formGroup]="searchForm" (ngSubmit)="submit()" fxLayout="column">
    <mat-form-field fxFlex color="accent">
      <mat-chip-list #chipList>
        <mat-chip
          *ngFor="let word of chips"
          [selectable]="true"
          [removable]="true"
          (removed)="remove(word)">
          {{word}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          placeholder="New search term..."
          #wordInput
          formControlName="search"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="true"
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
      <mat-hint>Suggestions sorted by occurences</mat-hint>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option
          *ngFor="let option of filteredTags | async | keyvalue:tagComparator"
          [value]="option.key">
          <div fxLayout="row">
            <span fxFlex>{{ option.key }}</span>
            <span fxLayoutAlign="flex-end center">
              <span class="app-inline-badge">
                {{ option.value }}
              </span>
            </span>
          </div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-radio-group
      style="margin-top: 16px"
      fxLayout="column"
      fxLayoutGap="8px"
      formControlName="mode">
      <mat-radio-button value="or">{{ OR_LABEL }}</mat-radio-button>
      <mat-radio-button value="and">{{ AND_LABEL }}</mat-radio-button>
    </mat-radio-group>

    <mat-form-field fxFlex color="accent" style="margin-top: 16px">
      <input
        #name
        matInput
        formControlName="name"
        placeholder="Name the search to save...">
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="end">
      <button
        [disabled]="!searchForm.valid || chips.length < 1"
        mat-raised-button
        color="accent">Save</button>
    </div>
  </form>
</div>
