<div *ngIf="item">
  <div style="padding: 16px 24px">
    <app-feed-item-info [item]="item"></app-feed-item-info>
  </div>

  <mat-divider></mat-divider>

  <mat-expansion-panel class="mat-elevation-z0" expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>search</mat-icon>Other items by related term
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-feed-item-terms-search
      [item]="item"
      (search$)="doCloseSidenavEnd()"></app-feed-item-terms-search>
  </mat-expansion-panel>

  <mat-divider></mat-divider>

  <mat-expansion-panel class="mat-elevation-z0" expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>insert_emoticon</mat-icon>Reddit
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-reddit-url-lookup [item]="item"></app-reddit-url-lookup>
  </mat-expansion-panel>
  <mat-divider></mat-divider>
</div>

<div *ngIf="!item" style="padding: 24px">
  Click the info icon on an item in the list to see more info here.
</div>
