<div fxLayout="column" fxLayoutGap="8px">
  <mat-slide-toggle
    [checked]="(activeFeedsUrls$ | async).length === (feeds$ | async).length"
    (change)="onOptionChangedSlider($event)"
    id="all"
    labelPosition="before"
    fxFlex>
    All
  </mat-slide-toggle>
  <mat-divider></mat-divider>
  <mat-slide-toggle
    *ngFor="let feed of feeds$ | async"
    [checked]="(activeFeedsUrls$ | async).includes(feed.url)"
    (change)="onOptionChangedSlider($event)"
    [id]="feed.url"
    labelPosition="before"
    fxFlex>
    {{ feed.name }}
  </mat-slide-toggle>
</div>
