<div fxLayout="column" fxLayoutGap="8px">
  <mat-slide-toggle
    [checked]="(activeFeedsUrls$ | async).length === (feeds$ | async).length"
    (change)="onOptionChangedSlider($event)"
    id="all"
    labelPosition="before"
    fxFlex>
    <div fxLayout="row" fxLayoutGap="8px">
      <span
        fxFlex="100%"
        style="vertical-align: middle;">All</span>

      <span
        fxFlex
        fxLayoutAlign="flex-end center">
        <span class="app-inline-badge">
            {{ getFeedCount('all') }}
        </span>
      </span>
    </div>
  </mat-slide-toggle>
  <mat-divider></mat-divider>
  <mat-slide-toggle
    *ngFor="let feed of feeds$ | async"
    [checked]="(activeFeedsUrls$ | async).includes(feed.url)"
    (change)="onOptionChangedSlider($event)"
    [id]="feed.url"
    labelPosition="before"
    fxFlex>
    <div fxLayout="row" fxLayoutGap="8px">
      <span
        fxFlex="100%"
        style="vertical-align: middle;">{{ feed.name }}</span>

      <span
        fxFlex
        fxLayoutAlign="flex-end center">
        <mat-icon
          fxFlex
          *ngIf="feed.error"
          [title]="feed.error"
          color="warn"
          [inline]="true"
          style="vertical-align: middle">
          error
        </mat-icon>
      </span>

      <span
        fxFlex
        fxLayoutAlign="flex-end center"
        style="display: inline-block; vertical-align: middle; width: 14px">
        <mat-spinner [diameter]="14" *ngIf="feed.fetching"></mat-spinner>
      </span>

      <span
        fxFlex
        fxLayoutAlign="flex-end center">
        <span class="app-inline-badge">
            {{ getFeedCount(feed.url) }}
        </span>
      </span>
    </div>
  </mat-slide-toggle>
</div>
