<mat-toolbar color="primary">
  <button mat-icon-button
          (click)="onToggleSidenav()"
          [fxShow]="! layoutService.isSidenavAlwaysOpen">
    <mat-icon>menu</mat-icon>
  </button>

  <h1 style="margin-left: 10px">Feedmixer</h1>

  <div fxFlex fxLayoutAlign="flex-end center">
    <mat-slide-toggle labelPosition="before"
                      (toggleChange)="onAutoRefreshToggle()">Autorefresh</mat-slide-toggle>
    <button mat-icon-button
            (click)="onRefresh()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
</mat-toolbar>
