<div>
  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>rss_feed</mat-icon>Feed
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-tab-group>
      <mat-tab label="Mix">
        <mat-selection-list>
          <mat-list-option>BBC</mat-list-option>
          <mat-list-option>CNN</mat-list-option>
          <mat-list-option>Al-Jazeera</mat-list-option>
        </mat-selection-list>
      </mat-tab>
      <mat-tab label="Single">
        <mat-form-field class="single-feed-select">
          <mat-select placeholder="Select a feed">
            <mat-option value="BBC">BBC</mat-option>
            <mat-option value="CNN">CNN</mat-option>
            <mat-option value="ALJ">Al-Jazeera</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-tab>
    </mat-tab-group>
  </mat-expansion-panel>

  <mat-divider></mat-divider>

  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>search</mat-icon>Search
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput
             placeholder="Search feed"
             [(ngModel)]="value"
             (keyup)="searchChanged.emit(value)">
      <button mat-button
              *ngIf="value"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
      <!--<mat-autocomplete #auto="matAutocomplete">-->
        <!--<mat-option [value]="Climate">Climate</mat-option>-->
        <!--<mat-option [value]="Deal">Deal</mat-option>-->
        <!--<mat-option [value]="Paris">Paris</mat-option>-->
        <!--<mat-option [value]="Pollution">Pollution</mat-option>-->
        <!--<mat-option [value]="World">World</mat-option>-->
      <!--</mat-autocomplete>-->
    </mat-form-field>
  </mat-expansion-panel>

  <mat-divider></mat-divider>

  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>format_list_numbered</mat-icon>Top 100 terms
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <a mat-list-item><mat-icon>search</mat-icon>Climate</a>
      <a mat-list-item><mat-icon>search</mat-icon>Deal</a>
      <a mat-list-item><mat-icon>search</mat-icon>Paris</a>
      <a mat-list-item><mat-icon>search</mat-icon>Pollution</a>
      <a mat-list-item><mat-icon>search</mat-icon>World</a>
      <a mat-list-item><mat-icon>search</mat-icon>Climate</a>
      <a mat-list-item><mat-icon>search</mat-icon>Deal</a>
      <a mat-list-item><mat-icon>search</mat-icon>Paris</a>
      <a mat-list-item><mat-icon>search</mat-icon>Pollution</a>
      <a mat-list-item><mat-icon>search</mat-icon>World</a>
      <a mat-list-item><mat-icon>search</mat-icon>Climate</a>
      <a mat-list-item><mat-icon>search</mat-icon>Deal</a>
      <a mat-list-item><mat-icon>search</mat-icon>Paris</a>
      <a mat-list-item><mat-icon>search</mat-icon>Pollution</a>
      <a mat-list-item><mat-icon>search</mat-icon>World</a>
      <a mat-list-item><mat-icon>search</mat-icon>Climate</a>
      <a mat-list-item><mat-icon>search</mat-icon>Deal</a>
      <a mat-list-item><mat-icon>search</mat-icon>Paris</a>
      <a mat-list-item><mat-icon>search</mat-icon>Pollution</a>
      <a mat-list-item><mat-icon>search</mat-icon>World</a>
      <a mat-list-item><mat-icon>search</mat-icon>Climate</a>
      <a mat-list-item><mat-icon>search</mat-icon>Deal</a>
      <a mat-list-item><mat-icon>search</mat-icon>Paris</a>
      <a mat-list-item><mat-icon>search</mat-icon>Pollution</a>
      <a mat-list-item><mat-icon>search</mat-icon>World</a>
    </mat-nav-list>
  </mat-expansion-panel>

  <mat-divider></mat-divider>
</div>
