table {
  width: 100%;
}

.headline {
  font-size: 16px;
}

table.handset td.mat-cell {
  padding-top: 16px;
  padding-bottom: 12px;
}

td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type,
th.mat-header-cell:last-of-type {
  text-align: right;
}

a {
  text-decoration: none;
  color: #3f51b5;
}

a:visited {
  color: grey;
}

.date {
  color: rgba(0,0,0,0.4);
}
