<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    class="sidenav sidenav-start mat-elevation-z16"
    fixedInViewport="true"
    [attr.role]="['xs', 'sm'].includes((media$ | async)?.mqAlias) ? 'dialog' : 'navigation'"
    [mode]="['xs', 'sm'].includes((media$ | async)?.mqAlias) ? 'over' : 'side'"
    [opened]="(ui$ | async).isSidenavOpen">
    <mat-toolbar
      fxLayout="row"
      color="primary"
      class="mat-elevation-z4">
      <span fxFlex>Menu</span>
      <button
        fxFlexAlign="end middle"
        type="button"
        aria-label="Toggle sidenav"
        mat-button
        mat-icon-button
        (click)="toggleSidenav('start', false)">
        <mat-icon aria-label="Side nav toggle icon">chevron_left</mat-icon>
      </button>
    </mat-toolbar>
    <app-sidenav></app-sidenav>
  </mat-sidenav>

  <mat-sidenav
    #sidenavEnd
    class="sidenav sidenav-end mat-elevation-z16"
    ngClass.lt-md="smallScreen"
    fixedinviewport="true"
    [attr.role]="['xs', 'sm'].includes((media$ | async)?.mqAlias) ? 'dialog' : 'navigation'"
    [mode]="['xs', 'sm', 'md'].includes((media$ | async)?.mqAlias) ? 'over' : 'side'"
    [opened]="(ui$ | async).isSidenavEndOpen"
    position="end">
    <mat-toolbar
      fxLayout="row"
      color="primary"
      class="mat-elevation-z4">
      <span fxFlex>Info</span>
      <button
        fxFlexAlign="end middle"
        type="button"
        aria-label="Toggle end sidenav"
        mat-button
        mat-icon-button
        (click)="toggleSidenav('end', false)">
        <mat-icon aria-label="Side nav end toggle icon">chevron_right</mat-icon>
      </button>
    </mat-toolbar>
    <app-sidenav-end></app-sidenav-end>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar
      color="primary"
      class="mat-elevation-z4">
      <button
        *ngIf="!(ui$ | async).isSidenavOpen"
        type="button"
        aria-label="Toggle sidenav"
        mat-button
        mat-icon-button
        (click)="toggleSidenav('start', true)">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Feedmixer</span>
      <div
        fxFlex
        fxLayoutAlign="flex-end center">
        <mat-spinner
          style="margin-right: 8px"
          [strokeWidth]="2"
          *ngIf="fetching$ | async"
          [diameter]="18"></mat-spinner>

        <button
          mat-button
          mat-icon-button
          *ngIf="!(fetching$ | async)"
          (click)="feedsService.refreshAllFeeds()">
          <mat-icon>refresh</mat-icon>
        </button>

        <button
          mat-button
          mat-icon-button
          *ngIf="fetching$ | async"
          (click)="feedsService.cancelFetching()">
          <mat-icon>clear</mat-icon>
        </button>

        <button
          mat-button
          mat-icon-button
          (click)="toggleSidenav('end', true)">
          <mat-icon>info_outline</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <app-feed></app-feed>
  </mat-sidenav-content>
</mat-sidenav-container>
