<div>
  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>rss_feed</mat-icon>Feed
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-feeds-selector></app-feeds-selector>
  </mat-expansion-panel>

  <mat-divider></mat-divider>

  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>search</mat-icon>Search
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-search #search (searchChanged)="doSearch($event)"></app-search>
  </mat-expansion-panel>

  <mat-divider></mat-divider>

  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>format_list_numbered</mat-icon>Top 100 terms
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-top-terms (searchChanged)="search.doSearch($event)"></app-top-terms>
  </mat-expansion-panel>

  <mat-divider></mat-divider>
</div>
