/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0; font-family: 'Roboto', sans-serif;
}

app-sidenav mat-slide-toggle .mat-slide-toggle-content {
  width: 100%;
}

.app-spinner-white circle {
  stroke: white;
}

.app-inline-badge {
  color: white;
  background-color: #3f51b5;
  display: inline-block;
  vertical-align: middle;
  height: 22px;
  padding: 0 8px;
  line-height: 22px;
  border-radius: 11px;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@keyframes spin { 100% { transform:rotate(360deg); } }
.app-rotate {
  animation: spin 1s ease-in-out infinite;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}


app-search-advanced-edit .mat-list-item-content {
  width: 100%;
}
