<form>
  <mat-form-field>
    <input #searchInput
           type="text"
           placeholder="Search feed"
           aria-label="Number"
           matInput
           [formControl]="searchControl"
           [matAutocomplete]="auto">
    <button type="button"
            mat-button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="doReset()">
      <mat-icon>close</mat-icon>
    </button>
    <mat-hint>Suggestions sorted by occurences</mat-hint>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredTokens | async" [value]="option.word">
        {{ option.word }} ({{ option.count }})
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
